<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/stayle.css">
</head>
<body>

    <div class="w-full text-white h-full bg-zinc-900 p-10" >
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class=" text-3xl tracking-tighter mb-3 ">Create User </h1>
    
        <form action="/create" method="post">
            <input type="text" placeholder="Name" name="name" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent ">

            <input type="email" placeholder="Email" name="email" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent ">

            <input type="text" placeholder="image Url" name="image" class="px-5 py-2 outline-none border-2 border-zinc-800 rounded-lg bg-transparent ">

            <input type="submit" value="Create User" class="px-5 py-2 bg-blue-500 rounded-lg ml-3" >

        </form>
    </div>
       
     
</body>
</html>